@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff2') format('woff2'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Bold.woff2') format('woff2'),
       url('../fonts/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Light.eot');
  src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Light.woff2') format('woff2'),
       url('../fonts/Vazir-Light.woff') format('woff'),
       url('../fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Medium.eot');
  src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Medium.woff2') format('woff2'),
       url('../fonts/Vazir-Medium.woff') format('woff'),
       url('../fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Thin.eot');
  src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Thin.woff2') format('woff2'),
       url('../fonts/Vazir-Thin.woff') format('woff'),
       url('../fonts/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}




html{
  scroll-behavior: smooth;
}


body {
  font-family: 'Vazir', sans-serif;
  font-weight: 500;
 
}





@media (min-width: 1400px) {
    #preheader1 {
      display: none;
    }

    #preheader2{
        display: block !important;
    }
  }


  .circles-chart {

    justify-content: center;
    gap: 30px;
    padding: 20px;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333; 
  }
  
  .circle1 {
    background-color: #4CAF50; 
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
  }
  
  .circle2 {
    background-color: #FF5722;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
  }


  @media (min-width: 1024px) {
    .circle {
        
        width: 300px;
        height: 300px;

      }
  }




  
.task-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding-top:10px; 
    padding-bottom:10px;
}


#left-side-details hr{
  border: 1px solid #ffffff;
  margin-bottom: 10px;
}





@media (max-width: 670px) {
  .FS {
      
      font-size: 10px;

    }
}